.box{
	width:1190px;
	margin:0 auto;
}
#btn{
	display:none;
	width:40px;
	height: 35px;
	position:fixed;
	left:50%;
	bottom:30px;
	margin-left:550px;
	background: url(../images/back_top.png) no-repeat left top;
}
#btn:hover{
	background:url(../images/back_top.png) no-repeat left -35px;   /*-35px出现图片的下面部分（顶部字样）*/
}