*{
	margin: 0;
	padding: 0;
	border: 0;
}
::selection {
background:#4AD8BF;
color:#fff;
}
a{
	text-decoration: none;
}
textarea{
	resize: none;
}
.clearfix:after{
	content:"";
	display:block;
	height:0;
	overflow:hidden;
	clear:both;
}
.clearfix{
	*zoom:1;
}

