*{
	margin:0px;
	padding:0px;
}
.clearfix:after {
	content: ".";
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
}
.clearfix {
	*zoom: 1;
}
.content_main{/*主体内容*/
	height:690px;
	width:100%;
	background: linear-gradient(rgba(94,94,94,.5),rgba(94,94,94,.5)),url(../images/wmain.jpg) no-repeat;
    background-size: cover;
}
.content{
	width:620px;
	height:620px;
	text-align:center;
	margin:0 auto;

}
@-webkit-keyframes fontbulger {
   0% {
     font-size: 10px;
    }
   30% {
     font-size: 40px;
    }
   100% {
    font-size: 40px;
     }
}
.div_contentone{
	width:100%;
	height:70px;
	float:left;
	margin-top:200px;
	font-size:40px;
	font-weight:bold;
	color:#FFFFFF;
	font-family:"宋体";
	-webkit-animation-name:  fontbulger;
	-webkit-animation-duration: 2s;/*表示动画持续的时间*/
	-webkit-animation-fill-mode: both;/*设置动画开始之前和结束之后的行为*/
	-webkit-animation-timing-function: ease-in-out;/*表示动画使用的时间曲线*/
}
.div_contenttwo{
	width:100%;
	height:40px;	
	color:#FFFFFF;
	font-size:25px;
	padding-top:20px;
	font-family:Courier New;
	float:left;
}
.about_button{
	width:auto;
	float:left;
	margin-left:160px;
	margin-top:25px;
}

.marketing-launch-button {
background-color:#98DA52;
border: 0;
font-size: 20px;
padding: 10px;
padding-left:25px;
padding-right:25px;
color:#FFFFFF;
cursor: pointer;
-moz-border-radius:10px;
-webkit-border-radius:10px;
border-radius:10px;
}
button:hover{
		background-color:#378006;
		cursor: pointer;
}

.about_big{
	margin-top:50px;
	width:100%;
	height:540px;
	padding-top:80px;
}
.introduce{
	width:80%;
	height:400px;
	margin:0 auto;
}
.pic_one{
	float:right;
	width:50%;
	height:400px;
	overflow:hidden;
}
.pic_one>img{
	float:right;
}
.pic_two{
	float:left;
	width:50%;
	height:400px;
	overflow:hidden;
}

.sub_introduce{/*介绍里的内容*/
	height:400px;
	width:50%;
	float:right;
	margin:0 auto;
}
.about_all{
	max-width:400px;
	height:300px;
	float:right;
	margin-top:80px;
}
p{
	font-size:18px;
	margin-top:15px;
}
hr {
display: block;
-webkit-margin-before: 0.5em;
-webkit-margin-after: 0.5em;
-webkit-margin-start: auto;
-webkit-margin-end: auto;
border-style: inset;
border-width: 1px;
color:#DCDCDC;
width:70%;
margin:auto;
margin-top:80px;
}

.roll {
	display:none;
	margin-right:-45%;
	position:fixed;
	right:50%;
	top:91%;
	cursor: pointer;
}
.roll span{
	color:#98DA52;
	opacity: 0.6;
	width:auto;
}
.roll span:hover{
	color:#378006;
}

